---
title: Marchetti Beauty
layout: default
---

<div class="hero">
  <div class="content">
    <div class="line-divide"></div>
      <p class="title">COSMETOLOGIST</p>
        <div class="logo">
        <?xml version="1.0" encoding="UTF-8"?>
            <svg width="353px" height="29px" viewBox="0 0 353 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <polygon id="path-1" points="0 28.622449 352.99507 28.622449 352.99507 0.515414541 0 0.515414541"></polygon>
                </defs>
                <g id="Marchetti-Beauty-Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-544.000000, -435.000000)">
                    <g id="::-Hero" transform="translate(0.000000, 2.000000)">
                        <g id="center-content" transform="translate(544.000000, 340.000000)">
                            <g id="marchetti-center">
                                <g id="marchetti" transform="translate(0.000000, 93.326654)">
                                    <path d="M115.152064,10.0258756 C115.152064,14.4128973 112.842516,17.1701231 109.471886,18.4503463 L115.946747,28.1573552 L109.130985,28.1573552 L103.453064,19.4620236 L103.378563,19.4620236 L98.9716839,19.4620236 L98.9716839,14.1790772 L104.778289,14.1790772 C107.618378,14.1790772 109.246124,12.627993 109.246124,10.3360925 L109.246124,10.2596958 C109.246124,7.69693431 107.503239,6.37735523 104.66315,6.37735523 L98.9716839,6.37735523 L98.9716839,0.980971301 L105.157569,0.980971301 C108.525942,0.980971301 111.138011,1.95097768 112.880896,3.73819707 C114.355123,5.24992538 115.152064,7.38671747 115.152064,9.94947895 L115.152064,10.0258756 Z" id="Fill-3" fill="#FEFEFE"></path>
                                    <path d="M150.415223,23.1103125 C145.872887,23.1103125 142.730276,19.2279719 142.730276,14.5700893 L142.730276,14.4913776 C142.730276,9.8334949 145.947388,6.02755102 150.415223,6.02755102 C153.065672,6.02755102 155.1472,7.19202168 157.192606,9.09499362 L160.904137,4.70797194 C158.441071,2.22392219 155.449721,0.515414541 150.453603,0.515414541 C142.314874,0.515414541 136.634696,6.84244898 136.634696,14.5700893 L136.634696,14.646486 C136.634696,22.450523 142.427755,28.622449 150.22784,28.622449 C155.33684,28.622449 158.366569,26.7588329 161.09152,23.770102 L157.382246,19.9271173 C155.300718,21.8671301 153.444952,23.1103125 150.415223,23.1103125" id="Fill-5" fill="#FEFEFE"></path>
                                    <polygon id="Fill-7" fill="#FEFEFE" points="199.725761 11.7350778 188.972705 11.7350778 188.972705 0.979350765 183.141266 0.979350765 183.141266 28.1557347 188.972705 28.1557347 188.972705 17.2472143 199.725761 17.2472143 199.725761 28.1557347 205.554942 28.1557347 205.554942 0.979350765 199.725761 0.979350765"></polygon>
                                    <polygon id="Fill-9" fill="#FEFEFE" points="235.102478 17.1305357 247.593903 17.1305357 247.593903 11.8128635 235.102478 11.8128635 235.102478 6.29841199 249.298408 6.29841199 249.298408 0.980739796 229.309419 0.980739796 229.309419 28.1571237 249.488049 28.1571237 249.488049 22.8394515 235.102478 22.8394515"></polygon>
                                    <polygon id="Fill-11" fill="#FEFEFE" points="270.179384 6.49333929 278.241354 6.49333929 278.241354 28.1552717 284.072792 28.1552717 284.072792 6.49333929 284.038928 0.981202806 270.179384 0.981202806"></polygon>
                                    <polygon id="Fill-13" fill="#FEFEFE" points="311.140782 6.49333929 311.140782 28.1552717 316.972221 28.1552717 316.972221 6.49333929 325.036448 6.49333929 325.036448 0.981202806 311.165616 0.916381378"></polygon>
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-16"></g>
                                    <polygon id="Fill-15" fill="#FEFEFE" mask="url(#mask-2)" points="347.165889 28.1571237 352.99507 28.1571237 352.99507 0.980739796 347.165889 0.980739796"></polygon>
                                    <polygon id="Fill-1" fill="#FEFEFE" mask="url(#mask-2)" points="20.2170088 0.980045281 13.249986 12.4719585 6.28522084 0.980045281 0 0.980045281 0 28.1564292 5.71855761 28.1564292 5.71855761 10.5319458 13.0987253 22.0238591 13.249986 22.0238591 20.7091705 10.4138782 20.7091705 28.1564292 26.5022297 28.1564292 26.5022297 0.980045281"></polygon>
                                    <path d="M59.3404767,0.78627551 L47.9823783,28.1548087 L53.9266981,28.1548087 L56.349127,22.0615944 L67.5559647,22.0615944 L69.9783936,28.1548087 L76.0717165,28.1548087 L64.7158757,0.78627551 L59.3404767,0.78627551 Z M61.9502883,7.96756378 L65.4721792,16.780963 L58.4329125,16.780963 L61.9502883,7.96756378 Z" id="Fill-2" fill="#FEFEFE" mask="url(#mask-2)"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
      <p class="title">SERVICING SOUTHEAST <br> MICHIGAN</p>
  </div>
  <div class="services">
    <div class="title btn btn-default">View Services</div>
  </div>
</div>